@media only screen and (min-width: 320px) {
  .hero-image {
    width: 550px;
  }
  .hero-main {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 480px) {
  .hero-main {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 767px) {
  .hero-main {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width:991px){
.hero-main {
    margin-bottom: 0px;
  }
}
