@media only screen and (min-width: 320px) {
  .review-container {
    position: fixed;
    top: 350px;
    left: 30px;
  }
}
@media only screen and (max-width: 320px) {
  .review-container {
    position: fixed;
    top: 350px;
    left: 30px;
  }
}

@media only screen and (min-width: 767px) {
  .review-container {
    position: static;
  }
}
